[Unit]
Description=Netmaster
After=auditd.service systemd-user-sessions.service time-sync.target etcd.service

[Service]
EnvironmentFile={{ netmaster_env_file }}
ExecStart={{ netmaster_bin_file }} $NETMASTER_ARGS
KillMode=control-group
