[Unit]
Description=Netplugin
After=auditd.service systemd-user-sessions.service time-sync.target etcd.service

[Service]
EnvironmentFile={{ netplugin_env_file }}
ExecStart={{ netplugin_bin_file }} $NETPLUGIN_ARGS
KillMode=control-group
